:root {
    --bg-color: #bae8e8;
}

body {
    background-color: var(--bg-color);
}


.container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 12rem;
    width: 21rem;
}

.white-keys {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.black-keys {
    display: flex;
    position: absolute;
    width: 100%;
    height: 50%;
    z-index: 1;
}

.white-keys kbd {
    display: inline-block;

    width: 3rem;
    background-color: white;
    border: 0.3rem solid #272643;
    margin-left: -0.3rem;

    text-align: center;
    font-size: 1.5rem;
    line-height: 20rem;
}

.black-keys kbd {
    display: inline-block;

    width: 2rem;
    background-color: black;
    border: 0.3rem solid #272643;
    margin-left: -0.3rem;

    text-align: center;
    font-size: 1.5rem;
    color: white;
    line-height: 7rem;
}

#key-w {
    margin-left: 1.5rem;
}
#key-e {
    margin-left: 0.5rem;
}
#key-t {
    margin-left: 3.5rem;
}
#key-y {
    margin-left: 0.5rem;
}
#key-u {
    margin-left: 0.5rem;
}

.pressed {
    background-color: dodgerblue !important;
}